Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/BrianThomasRoss/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/Burrito-10D.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

#### Imports

In [0]:
%matplotlib inline
import category_encoders as ce
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegressionCV
from sklearn.impute import SimpleImputer
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#### Data Manipulation

In [0]:
df['Great'] = df['Great'].astype(int)

In [112]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN      0
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN      0
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN      0
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN      0
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN      1

[5 rows x 59 columns]

In [0]:
features_to_convert = ['Chips', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
                       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 
                       'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato',
                       'Bell peper', 'Carrots',	'Cabbage',	'Sauce',	
                       'Salsa.1',	'Cilantro',	'Onion',	'Taquito',	'Pineapple',
                       'Ham',	'Chile relleno',	'Nopales',	'Lobster',	'Queso',
                       'Egg',	'Mushroom',	'Bacon',	'Sushi',	'Avocado',	
                       'Corn',	'Zucchini']

In [114]:
# Looks like several of the classes are binary classification except they 
# are in the wrong format

test_cases = ['X', 'x', np.NaN]

def convert_to_binary_values(feature):
  if isinstance(feature, float):
    new_value = 0
  else:
    new_value = 1
  return new_value

[convert_to_binary_values(item) for item in test_cases]

[1, 1, 0]

In [0]:
for feature in features_to_convert:
  df[feature] = df[feature].apply(convert_to_binary_values)

In [0]:
target = 'Great'
features = df.columns.tolist()

In [0]:
features.remove(target)
features

In [0]:
metrics = ['Mass (g)',	'Density (g/mL)',	'Length',	'Circum',	'Volume']

for metric in metrics:
  df[metric] = df[metric].fillna(df[metric].mean())

####  Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [0]:
df['Date'] = pd.to_datetime(df['Date'])

In [0]:
train_df = df[df['Date'] <= pd.to_datetime("2016-12-31")]   #   2016 and earlier

val_df = df[(df['Date'] >= pd.to_datetime("2017-01-01")) &  #   2017
            (df['Date'] <= pd.to_datetime("2017-12-31"))]

test_df = df[df['Date'] >= pd.to_datetime("2018-01-01")]    #   2018 and later

assert len(train_df) + len(val_df) + len(test_df) == len(df)

#### Begin with baselines for classification

In [0]:
target = 'Great'

y_train = train_df[target]

y_val = val_df[target]

y_test = test_df[target]

In [0]:
def calc_accuracy_score(target_feature):
  majority_class = target_feature.mode()[0]               #   Find the mode of the target feature
  target_pred = [majority_class] * len(target_feature)    #   Create a list the length of the target feature with consisting of the mode as the sole value

  score = accuracy_score(target_feature, target_pred)     

  return score

In [29]:
train_base, val_base = calc_accuracy_score(y_train), calc_accuracy_score(y_val)

print(f"Training model baseline accuracy: {(train_base)*100:,.2f}%" + "\n")
print(f"Validation model baseline accuracy: {(val_base)*100:,.2f}%")

Training model baseline accuracy: 59.06%

Validation model baseline accuracy: 55.29%

#### Start with a linear regression model

In [0]:
#   Instantiate the class
linear_reg = LinearRegression()

#### Use sklearn for logistic regression